<ion-view view-title="Login" cache-view="false">
    <ion-content class="backgroundLogin">
        <div class="login"> 
            <h1>Login</h1>
            <form autocomplete="off" id="myForm" method="post" ng-submit="verificar(login)">
              <input type="text" placeholder="Username" required="required" ng-model="login.username" value="" style="color:#ffffff">
              <input type="password" placeholder="Password" required="required" ng-model="login.password" value="" style="color:#ffffff">
              <input type="submit" class="btn btn-primary btn-block btn-large nounderline" value="Sign in">
                <li> <a ALIGN="center" href="#/signUp" ng-click=reload()>Sign Up </a></li> 
            </form>
        </div>
    </ion-content
</ion-view>
b