<ion-view  class="backgroundLogin">
    
    <ion-header-bar class="dark-red">
                <ion-item class="item item-icon-left" ng-click="goBack()" style="background-color:#350002; border:0px; color:#ffffff">
                <i class="icon ion-arrow-left-b"> </i>
                </ion-item>
                 <h1 class="title white">Queries</h1>
            
                </ion-header-bar>
    
    <ion-content>
<div class="container" class="backgroundLogin">
    
    <div class="jumbotron">
                    <h3>Insert a material name</h3>
                
                        <form autocomplete="off" id="myForm2" method="post" >
                        <input type="text" placeholder=" Material name" required="required" ng-model="mat.name" value="" class="input-user" style="color:#000000">
                        <button type="button" class="btn btn-warning btn-block" ng-click="getWorks(mat.name)"> Search </button>
                    </form>
              <h3>Works : </h3>
            <ul>           
                <h4><li ng-repeat="item in items2">
                {{(item.c_location+ ' ('+ item.id+ ')')}}
              </h4></li>
           </ul>  
                </div>


     <div class="jumbotron">
        <h2 ALIGN="center"> works with stages upcoming </h2>
            <form autocomplete="off" id="myForm4" method="post" >
            <input type="text" placeholder=" Coment" required="required" ng-model="c.com" value="" class="input-user" style="color:#000000">
        <h3>Works / Stage: </h3>
    <ul>           
                <h4><li ng-click="coment(c.com,it.c_id,it.stage_id)" ng-repeat="it in items3">
                {{'Work: '+(it.c_location+ ' ('+ it.c_id+ ')')+'; Stage: ' +(it.description+ ' ('+ it.stage_id+ ')')}}
                    <br> <br>
                    
              </h4></li>
           </ul>
             <button type="button" class="btn btn-warning btn-block" ng-click="getWorks2()"> Search </button>
            </form>
                
                </div>
    
</div>
</ion-content>
</ion-view