<div menu></div>
<div class="container" >
        <div class="jumbotron" ng-if="user">
            <h2 ALIGN="center"> Add Meterials to {{name}}</h2>
<nav>
    <input type="search"
     placeholder="Search for a product..."
     ng-model="search"
     ng-bind="search"
     ng-focus="searchFocused = true"
     ng-blur="searchFocused = false"
     ng-change="scrollTop()"
     class="full-width white-background">
</nav>
<!--<button  ng-if="search.length"  class="button button-icon ion-android-close input-button"  ng-click="clearSearch()"></button>-->
<ul ng-init="update()">           
   <h4><li class="list-group-item ist-group-item-success" id="{{ item.isLetter ? (item.letter + '_divider') : ''}}" 
            ng-class="{'item-divider': item.isLetter}"
            ng-repeat="item in getItems(search)">
   {{item.letter || (item._description + ';  Tax : ' +item._nonTaxable+ '  ; In Stock: ' +item._amount +'  ; Price :' +  item.price  )}}
      <img ng-if="!item.isLetter" src="img/add.png" class="shop-plus" ng-click="addItemStage(item._id, item._description)"></h4></li> </h4></li>
   </ul>


 <h2 ALIGN="center"> My Materials </h2>
<nav>
    <input type="search"
     placeholder="Search for a product..."
     ng-model="search"
     ng-bind="search"
     ng-focus="searchFocused = true"
     ng-blur="searchFocused = false"
     ng-change="scrollTop()"
     class="full-width white-background">
</nav>
<ul ng-init="update()">           
   <h4><li class="list-group-item ist-group-item-success" id="{{ item.isLetter ? (item.letter + '_divider') : ''}}" 
            ng-class="{'item-divider': item.isLetter}"
            ng-repeat="item in getItemsCart">
   {{item.letter || (item.description +  ' Amount: ' +item.amount )}}
      <img ng-if="!item.isLetter" src="img/delete.png" class="shop-plus" ng-click="elimItemStage(item.id)"></h4></li> </h4></li>
   </ul>
    
    <h2 ALIGN="center"> Comment this stage</h2>

        <form autocomplete="off" id="myForm2" method="post">
            <input type="text" placeholder="Comment" required="required" ng-model="stage.comment" value="" class="input-login" style="color:#000000">
        </form>
    <button type="button" class="btn btn-info btn-block" ng-click="sell()"> Asociate Materials</button>
    </div>


    <div class="jumbotron" ng-if="!user">
        <h2 ALIGN="center"> Registed Materials of {{name}}</h2>

        
</div>  



<div>
    
    <!-- esto es para cuando ya tiene registrada la vara-->
<nav>
    <input type="search"
     placeholder="Search for a product..."
     ng-model="search"
     ng-bind="search"
     ng-focus="searchFocused = true"
     ng-blur="searchFocused = false"
     ng-change="scrollTop()"
     class="full-width white-background">
</nav>
<ul ng-init="update()">           
   <h4><li class="list-group-item ist-group-item-success" id="{{ item.isLetter ? (item.letter + '_divider') : ''}}" 
            ng-class="{'item-divider': item.isLetter}"
            ng-repeat="item in getItemsCart">
   {{item.letter || (item.description +  ' Amount: ' +item.amount )}}
      <img ng-if="!item.isLetter" src="img/delete.png" class="shop-plus" ng-click="elimItemStage(item.id)"></h4></li> </h4></li>
   </ul>



</div>




</div>