<div class="backgroundLogin fond scroll">
<div class="container" >
        <div class="jumbotron">
        <h2 ALIGN="center"> Add Stage</h2>
            
        
        <form autocomplete="off" id="myFormWork" method="post" ng-submit="verificar(stage)">
              <input type="text" placeholder="Stage description" required="required" ng-model="stage.description" value="" class="input-login" style="color:#ffffff">
              <input type="submit" class="btn btn-primary btn-block btn-large nounderline" class="input-login" value="Add">
        </form>
            
    
    </div>
    </div>
</div>