<div class="backgroundLogin fond scroll">
<div class="container" >
        <div class="jumbotron">
        <h2 ALIGN="center"> Add Work</h2>
            
        
        <form autocomplete="off" id="myFormWork" method="post" ng-submit="verificar(work)">
              <input type="text" placeholder="Work name" required="required" ng-model="work.name" value="" class="input-login" style="color:#ffffff">
              <input type="text" placeholder="Cliente name" required="required" ng-model="work.client" value="" class="input-login" style="color:#ffffff">
              <input type="submit" class="btn btn-primary btn-block btn-large nounderline" class="input-login" value="Add">
        </form>
            
    
    </div>
    </div>
</div>