<div menu></div>
<div class="container" >
    
    <div class="jumbotron">
                    <h3>Insert Material</h3>
                
                        <form autocomplete="off" id="myForm2" method="post" >
                        <input type="text" placeholder=" Material name" required="required" ng-model="mat.name" value="" class="input-user" style="color:#000000">
                        <button type="button" class="btn btn-warning btn-block" ng-click="getWorks(mat.name)"> Search </button>
                    </form>
        <h3>Works : </h3>
		<ul>           
                <h4><li ng-repeat="item in items2">
                {{(item.c_location+ ' ('+ item.id+ ')')}}
              </h4></li>
           </ul>
                
                </div>
    
    
        <div class="jumbotron">
        <h2 ALIGN="center"> works with stages upcoming </h2>
            <form autocomplete="off" id="myForm4" method="post" >
            <input type="text" placeholder=" Coment" required="required" ng-model="c.com" value="" class="input-user" style="color:#000000">
        <h3>Works / Stage: </h3>
		<ul>           
                <h4><li ng-click="coment(c.com,it.c_id,it.stage_id)" ng-repeat="it in items3">
                {{(it.c_location+ ' ('+ it.c_id+ ')')+(it.description+ ' ('+ it.stage_id+ ')')}}
                    
              </h4></li>
           </ul>
             <button type="button" class="btn btn-warning btn-block" ng-click="getWorks2()"> Search </button>
            </form>
                
                </div>
            
    </div>
</div>
