<div menu></div>
<div class="container" >
        <div class="jumbotron">
        <h2 ALIGN="center"> Select Works</h2>
            
        <nav>
            <input type="search"
             placeholder="Search for a product..."
             ng-model="search"
                ng-bind="search"
               ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
                class="full-width white-background">
        </nav>
      <!--<button  ng-if="search.length"  class="button button-icon ion-android-close input-button"  ng-click="clearSearch()"></button>-->
       <ul ng-init="update()">           
           <h4><li class="list-group-item ist-group-item-success" id="{{ item.isLetter ? (item.letter + '_divider') : ''}}" 
                    ng-class="{'item-divider': item.isLetter}"
                    ng-repeat="item in getItems(search)" ng-click=stages(item.id)>
                   {{item.letter || (item.c_location+ ' ('+ item.id+ ')')}} 
              </h4></li>
           </ul>
            <button type="button" class="btn btn-info btn-block" ng-click="update()"> Update Works</button>
    </div>





<div class="jumbotron">
                    <h3>Create a new Work</h3>
                
                        <form autocomplete="off" id="myForm2" method="post" >
                        <input type="text" placeholder=" Work Location" required="required" ng-model="work.location" value="" class="input-user" style="color:000000">
                        <input type="text" placeholder=" Work Client" required="required" ng-model="work.client" value="" class="input-user" style="color:000000">
                        <button type="button" class="btn btn-warning btn-block" ng-click="addWork(work.location,work.client)"> Add Work</button>
                    </form>
                
                </div>
</div>